langchain
langchain-core
langchain-google-genai
faiss-cpu
google-generativeai
beautifulsoup4
requests
langchain-community
pydantic
python-dotenv
Flask
flask-restful
sentence-transformers
openai
pydantic
chromadb
langchain-google-genai
pandas
flask-cors